<ion-header>
  <ion-navbar color="nename">
    <ion-title>
      <span>{{name?.name}}</span>
    </ion-title>
    <ion-buttons left>
      <button ion-button icon-start (click)="dismiss()">
        <ion-icon name="arrow-round-back"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="nename-content">

  <div class="my-title" *ngIf="voters.length > 0 && !loading">
    {{name?.total_votes}} Voto<span *ngIf="name?.total_votes > 1">s</span>
  </div>

  <div *ngIf="loading" padding>
    <div style="display: flex; justify-content: center;" class="margin-bottom">
      <div class="casper block3 width-regular"></div>
    </div>
    <div *ngFor="let item of [1,2]">
      <div class="">
        <div class="casper row inline">
          <div class="casper avatar"></div>
          <div class="casper block5 width-small"></div>
          <div style="flex: 1; display: flex; justify-content: flex-end">
            <div class="casper block6 width-mini"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ion-list *ngIf="voters.length > 0 && !loading">
    <ion-item *ngFor="let name of voters">
      <ion-avatar item-start>
        <img [src]="name.profilePhotoURL">
      </ion-avatar>
      {{name.name}}
      <p item-end>3 horas atrás</p>
    </ion-item>
  </ion-list>

  <div class="content-bimbo nename-content-center text-center" *ngIf="voters.length < 1 && !loading">
    <img src="/assets/imgs/baby-pistola.png" class="naname-image-header">
    <h1>Este nome ainda não tem nenhum voto</h1>
  </div>
</ion-content>