<ion-header>
  <ion-navbar color="nename">
    <ion-title>Filtros</ion-title>
    <ion-buttons right>
      <button ion-button (click)="dismiss(true)" color="nename-text">
        Cancelar
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="nename-content">
  <form [formGroup]="filterForm">
    <ion-list>
      <ion-item>
        <ion-label class="nename-label-input">Letra inicial</ion-label>
        <ion-select formControlName="firstLetter">
          <ion-option value="">Todas</ion-option>
          <ion-option [value]="letter" *ngFor="let letter of letters">{{letter}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label class="nename-label-input">Categoria</ion-label>
        <ion-select formControlName="category">
          <ion-option value="">Todas</ion-option>
          <ion-option [value]="category.id" *ngFor="let category of categories">{{category.name}}</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <div padding>
      <button ion-button large round block icon-start color="nename-blue-mara" (click)="dismiss(false)">
        <ion-icon name="checkmark"></ion-icon> Aplicar filtro
      </button>
    </div>
  </form>
</ion-content>