<ion-content class="nename-content">
  <div class="slides-content">
    <div class="container-logo">
      <img src="/assets/imgs/logo.png" style="width: 200px;">
    </div>
    <div class="container-slides">
      <ion-slides class="slides" padding>
        <ion-slide class="slide">
          <div>
            <h1>Explico como funciona o sistema de parceria</h1>
            <button ion-button bull round (click)="goToNextSlide()">Próximo</button>
          </div>
        </ion-slide>
        <ion-slide class="slide" padding>
          <div>
            <img src="/assets/imgs/eai.png" width="100%" class="margin-bottom-extra">
            <button ion-button full large round (click)="skipAddPartner()">Sozinho</button>
            <button ion-button full large round (click)="goToNextSlide()" class="margin-bottom">Com um parceiro</button>
          </div>
        </ion-slide>


        <ion-slide class="slide" padding style=" background-color: green;">
          <div style="overflow-y:auto;display:block;">
            <div class="naname-card naname-card-centered-content">
              <h2 class="margin-bottom-extra">Vou adicionar o meu parceiro</h2>
              <button ion-button block round icon-start (click)="showPrompt()">
                <ion-icon name="at"></ion-icon> Adicionar pelo email
              </button>
              <button ion-button block round icon-start (click)="scanQrCode()">
                <ion-icon name="qr-scanner"></ion-icon> Adicionar pelo QRCODE
              </button>
            </div>

            <div class="nename-content-center margin-top margin-bottom" style="margin-top: -28px;margin-bottom: -28px;">
              <div class="naname-or">OU</div>
            </div>

            <div class="naname-card naname-card-centered-content">
              <h2 class="margin-bottom-extra">O meu parceiro vai me adicionar</h2>
              <h4>{{authProvider.user?.email}}</h4>
              <div>
                <qrcode [qrdata]="authProvider.user.email" [size]="100" [level]="'M'"></qrcode>
              </div>
            </div>
          </div>
        </ion-slide>

      </ion-slides>
    </div>
  </div>
  <!-- <div class="slides-content">

    <div class="container-logo">
      <img src="/assets/imgs/logo.png" style="width: 150px;">
    </div>
    <div class="container-slides">
      <ion-slides class="slides">
        <ion-slide class="slide" padding>
          <h1>Explico como funciona o sistema de parceria</h1>
          <button ion-button bull round (click)="goToNextSlide()">Próximo</button>
        </ion-slide>
        <ion-slide padding>
          <img src="/assets/imgs/eai.png" width="100%" class="margin-bottom-extra">
          <button ion-button full large round (click)="skipAddPartner()">Sozinho</button>
          <button ion-button full large round (click)="goToNextSlide()" class="margin-bottom">Com um parceiro</button>
        </ion-slide>

        <ion-slide class="slide" padding>
          <div *ngIf="!authProvider.user.partner_id" padding>
            <div class="naname-card naname-card-centered-content">
              <ion-grid>
                <ion-row>
                  <ion-col>
                    <button ion-button block round icon-start (click)="showPrompt()">
                      <ion-icon name="at"></ion-icon> Adicionar pelo email
                    </button>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <button ion-button block round icon-start (click)="scanQrCode()">
                      <ion-icon name="qr-scanner"></ion-icon> Adicionar pelo QRCODE
                    </button>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </div>
            <div class="nename-content-center" style="text-align: center;">
              <h2>OU</h2>
            </div>
            <div class="naname-card naname-card-centered-content">
              <ion-grid>
                <ion-row>
                  <ion-col>
                    <h2>O meu parceiro vai me adicionar</h2>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <h3>{{authProvider.user?.email}}</h3>
                    <div style="margin-left: 70px">
                      <qrcode [qrdata]="authProvider.user.email" [size]="150" [level]="'M'"></qrcode>
                    </div>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </div>
          </div>

          <div class="content" *ngIf="authProvider.user.partner_id">
            <div class="content-child text-center" padding>
              <h1>Vocês estão conectados</h1>
              <h2 class="margin-bottom-extra">O nomes que vcs escolherem servir para os dois bla bla bla</h2>

              <div>
                <img [src]="authProvider.user?.profilePhotoURL" class="avatar" />
                <img [src]="authProvider.partner?.profilePhotoURL" class="avatar margin-left" />
              </div>
            </div>
          </div>

        </ion-slide>

      </ion-slides>
    </div>
  </div> -->
</ion-content>

<ion-footer [hidden]="slides.getActiveIndex() != 2">
  <ion-toolbar>

    <button ion-button block round (click)="skipAddPartner()">
      <span *ngIf="!authProvider.partner">Depois eu vejo isso, começar a usar</span>
      <span *ngIf="authProvider.partner">Tudo certo! começar a usar</span>
    </button>
  </ion-toolbar>
</ion-footer>