page-ask-about-partnership-list {
  [ion-slides] {
    height: 100%;
  }

  .avatar {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    border-color: color($colors, primary);
    border-width: 8px;
  }

  .details {
    padding: 30px 10px;
  }

  .content-child {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
