page-ask-about-partnership-list {
  [ion-slides] {
    height: 100%;
  }
  .details {
    padding: 30px 10px;
  }

  .content-child {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}