<!--
  Generated template for the NamesListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="nename" mode="ios">
    <ion-title mode="ios">
      <img src="/assets/imgs/logo.png" width="128">
    </ion-title>

    <ion-buttons left>
      <button ion-button color="primary" icon-only (click)="openGenderSelectionModal()">
        <ion-icon name="settings"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons right>
      <button ion-button color="primary" icon-only (click)="openFiltersModal()">
        <ion-icon name="funnel"></ion-icon>
        <span *ngIf="filterFormTotalTouchedControls > 0">
          &nbsp;
          <ion-badge color="naname-danger">
            {{ filterFormTotalTouchedControls }}
          </ion-badge>
        </span>
      </button>
    </ion-buttons>

    <!-- <ion-buttons end>

    </ion-buttons>
    -->

  </ion-navbar>

</ion-header>
<ion-content class="nename-content">
  <div class="content-bimbo" text-center padding>
    <div *ngIf="loadingNames">
      <img src="/assets/imgs/bebe.png" class="naname-loader">
      <h1 class="color-primary">Trazendo nomes, aguarde...</h1>
    </div>

    <div *ngIf="noMoreNames && !loadingNames">
      <img src="/assets/imgs/baby_deu_ruim.png" class="baby-message">
      <h2>Você já interagiu por todos os nomes que tinhamos para mostrar.</h2>
      <h2 *ngIf="filterFormTotalTouchedControls > 0">Como você tem alguns filtros selecionados, pode ser que tenham mais
        nomes se você alterar algum deles.</h2>
    </div>

    <div *ngIf="!loadingNames && choicesLimitReached">
      <img src="/assets/imgs/baby_deu_ruim.png" class="baby-message">
      <h2>Você atingiu o máximo de nomes para escolher</h2>
      <h3>É possível ir nos nomes escolhidos e deletar alguns para liberar espaço para escolher mais.</h3>
      <button ion-button large round (click)="getNamesChunk()" class="margin-top-extra">
        Carregar mais nomes
      </button>
    </div>

    <div class="" [hidden]="loadingNames || cards.length < 1">
      <!-- <p *ngIf="loadingNames">Carregando nomes, por favor aguarde....</p>
        <p *ngIf="noMoreNames && !loadingNames">Não tem mais nome spara mostrar.</p> -->

      <div swing-stack #myswing1 [stackConfig]="stackConfig" (throwoutleft)="voteUp(false)"
        (throwoutright)="voteUp(true)" id="card-stack">

        <div class="card" #mycards1 swing-card *ngFor="let card of cards;let i = index"
          [style.bottom]="-card.margin + 'px'" [style.opacity]="1 + (((i + 1) - cards.length) / 10)">
          <h2>{{card.name}}</h2>
        </div>
      </div>

      <div class="text-center">
        <button ion-button color="naname-negative" class="button-choose" (click)="voteUp(false)">
          <ion-icon name="close"></ion-icon>
        </button>
        <button ion-button color="naname-positive" class="button-choose" style="margin-left: 60px"
          (click)="voteUp(true)">
          <ion-icon name="heart"></ion-icon>
        </button>
      </div>
    </div>

  </div>

  <!-- <div class="content text-center" *ngIf="choicesLimitReached && !loadingNames || noMoreNames">
    <h1 class="margin-bottom-extra">Nós já mostramos todos os nomes disponíveis</h1>
    <button block ion-button large round (click)="getNamesChunk()" name="primary">
      Verificar nomes novos
    </button>
  </div> -->



  <div class="content" [hidden]="1 == 1">

  </div>

</ion-content>