// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";

// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;

@import "ionic.globals";

// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/

// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

// secondary: #51e9d2,
$colors: (
  primary: #20c1f7,
  secondary: #BCDD11,
  danger: #ffc6c6,
  light: #fff,
  dark: #222,
  yellow: #fcfdcd,
  blue: #cff1fb,
  pink: #ffdbdb,
  purple: #d1d1f9,
  facebook: #395693,
  google: #d64937,
  nename: (
    base: #fff,
    contrast: #20c1f7
  ),
  naname-primary: (
    base: #6cdcdf,
    contrast: #fff
  ),
  naname-secondary: (
    base: #BCDD11,
    contrast: #3e542f
  ),
  naname-danger: (
    base: #e75555,
    contrast: #fff
  ),
  naname-warning: (
    base: #f4df62,
    contrast: #635d3c
  ),
  naname-chick: (
    base: #f47cbf,
    contrast: #502d41
  ),
  naname-positive: (
    base: #BCDD11,
    contrast: #fff
  ),
  naname-negative: (
    base: #e75555,
    contrast: #fff
  ),
  naname-google: (
    base: #fff,
    contrast: #d64937
  ),
  naname-facebook: (
    base: #fff,
    contrast: #395693
  )
);
$darken-amount: 5%;
$border-radius: 20px;

$text-color: map-get($colors, dark);

// PROGRESS
$progress-height: 15px;
$progress-bgcolor: map-get($colors, light);
$progress-bar-color: map-get($colors, secondary);
$progress-border-radius: 20px;

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here

// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

$font-family-md-base: "FunnyandCute";
$font-family-ios-base: "FunnyandCute";

$toolbar-ios-height: 56px;
$button-md-large-font-size: 16px;
$button-md-large-padding: 60px;

// Tabs
$tabs-md-tab-font-size: 0.8em;
$tabs-ios-tab-font-size: 0.8em;

$tabs-md-tab-icon-size: 1.7em;

$item-md-font-size: 1.3em;
$item-ios-font-size: 1.3em;

$margin: 15px;
$margin-extra: $margin * 2;

// Loader
$loading-md-border-radius: $border-radius;

/** GHOST **/
$ghost-color: #eee;
$ghost-margin: 10px;
$ghost-md-height: 20px;
$ghost-md-width: 160px;

@import "ionic.theme.default";

// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";

// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
