// http://ionicframework.com/docs/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

// ion-header::after {
//   background-image: none;
// }

// .title {
//   font-size: 2.5em;
//   color: map-get($colors, primary);
//   font-weight: bold;
// }
// .subtitle {
//   font-size: 1.2em;
// }

[cute] {
  font-weight: bold;
  font-size: 1.6em;
}
$size: 60px;
button[button-cards-action] {
  width: $size;
  height: $size;
  font-size: 2em;
  border-radius: 100%;
  color: #fff;
  text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.3);
}
[button-cards-action][positive] {
  background-color: map-get($colors, green);
}
[button-cards-action][negative] {
  background-color: map-get($colors, danger);
}

[color="blue"] {
  color: #4e7587;
}
[color="pink"] {
  color: #9b6969;
}
[color="green"] {
  color: #466d54;
}
[color="yellow"] {
  color: #868756;
}

button[fat] {
  height: 100px;
  text-transform: lowercase;
  font-weight: bold;
  font-size: 2.2em;
}

$img-loader-size: 60px;
.main-message {
  text-align: center;
  // background-color: #466d54;
  width: 100%;
}
.main-message p {
  color: map-get($colors, primary);
  font-weight: bold;
  font-size: 1.8em;
}
.main-message img {
  width: $img-loader-size;
  animation: pulse 3s infinite;
  margin-bottom: -15px;
}

.pulse {
  width: $img-loader-size;
  height: $img-loader-size;
  // padding-bottom: 40px;
  // border-radius: 50%;
  // background: #cca92c;
}
@keyframes pulse {
  0% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}

// Progress
.progress-container {
  height: $progress-height;
  width: 100%;
  background-color: $progress-bgcolor;
  border-radius: $progress-border-radius;
  display: inline-block;
}
.progress-bar {
  background-color: $progress-bar-color;
  height: 100%;
  width: 100%;
  border-radius: $progress-border-radius;
  -webkit-transition: width 1s;
  transition: width 1s;
}

// .content {
  
//   height: 100%;
//   // display: flex;
//   // flex-direction: column;
//   // align-items: center;
//   // justify-content: center;
  
//   text-align: center;
// }

// GHOST
.ghost-container {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin-bottom: $ghost-margin * 1.5;
}
.ghost-container-top {
  align-items: flex-start;
}
.ghost-margin-right {
  margin-right: $ghost-margin;
}
.ghost-margin-bottom {
  margin-bottom: $ghost-margin;
}
.ghost-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: $ghost-color;
}
.ghost-line {
  // margin-bottom: $ghost-margin;
}
.ghost-line-md {
  height: $ghost-md-height;
  width: $ghost-md-width;
  background-color: $ghost-color;
}
.ghost-line-block {
  width: 100%;
}

// HEADER
h1,h2,h3,h4,h5,h6 {
  font-weight: bold;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.4em;
}
h3 {
  font-size: .9em;
}
// Cards
.naname-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
  padding: 10px 5px;
  // h,v,r,s
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
}
.naname-card-centered-content {
  text-align: center;
}


.image-button {
  width: 30px;
  height: 30px;
  border-radius: 30px;
}