// http://ionicframework.com/docs/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

// ion-header::after {
//   background-image: none;
// }

// .title {
//   font-size: 2.5em;
//   color: map-get($colors, primary);
//   font-weight: bold;
// }
// .subtitle {
//   font-size: 1.2em;
// }

.nename-content {
  background-image: url(../assets/imgs/bg.png), url(../assets/imgs/bg2.jpg);
  background-size: 100% auto, auto 100%;
}
.item {
  background: none !important;
}

@font-face {
  font-family: Cocogoose;
  src: url(../assets/fonts/Cocogoose-Pro-trial.ttf);
  // font-weight: 200;
}
@font-face {
  font-family: FunnyandCute;
  src: url(../assets/fonts/FredokaOne-Regular.ttf);
}
ionic [cute] {
  font-weight: bold;
  font-size: 1.6em;
}
$size: 60px;
button[button-cards-action] {
  width: $size;
  height: $size;
  font-size: 2em;
  border-radius: 100%;
  color: #fff;
  text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.3);
}
[button-cards-action][positive] {
  background-color: map-get($colors, green);
}
[button-cards-action][negative] {
  background-color: map-get($colors, danger);
}

[color="blue"] {
  color: #4e7587;
}
[color="pink"] {
  color: #9b6969;
}
[color="green"] {
  color: #466d54;
}
[color="yellow"] {
  color: #868756;
}

button[fat] {
  height: 100px;
  text-transform: lowercase;
  font-weight: bold;
  font-size: 2.2em;
}

$img-loader-size: 80px;
// .main-message {
//   text-align: center;
//   // background-color: #466d54;
//   width: 100%;
// }
// .main-message p {
//   color: map-get($colors, primary);
//   font-weight: bold;
//   font-size: 1.8em;
// }
// .main-message img {
//   width: $img-loader-size;

//   margin-bottom: -15px;
// }

.naname-loader {
  width: $img-loader-size;

  animation: teeter 4s infinite ease;
  // padding-bottom: 40px;
  // border-radius: 50%;
  // background: #cca92c;
}
@keyframes teeter {
  0% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}

// Progress
.progress-container {
  height: $progress-height;
  width: 100%;
  background-color: $progress-bgcolor;
  border-radius: $progress-border-radius;
  display: inline-block;
  background-color: #e4e4e4;
}
.progress-bar {
  background-color: $progress-bar-color;
  height: 100%;
  width: 100%;
  border-radius: $progress-border-radius;
  -webkit-transition: width 1.5s;
  transition: width 1.5s;
}

.content-bimbo {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

// GHOST
.ghost-container {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin-bottom: $ghost-margin * 1.5;
}
.ghost-container-top {
  align-items: flex-start;
}
.ghost-margin-right {
  margin-right: $ghost-margin;
}
.ghost-margin-bottom {
  margin-bottom: $ghost-margin;
}
.ghost-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: $ghost-color;
}
.ghost-line {
  // margin-bottom: $ghost-margin;
}
.ghost-line-md {
  height: $ghost-md-height;
  width: $ghost-md-width;
  background-color: $ghost-color;
}
.ghost-line-block {
  width: 100%;
}

p {
  color: rgba(60, 60, 60, 0.7);
  font-weight: 200;
}
// HEADER
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0 !important;
  margin: 0;
  margin-bottom: $margin / 2;
  font-weight: 200;
  // color: rgba(60, 60, 60, 0.7);
  color: color($colors, primary);
}
h1 {
  font-size: 2.2em;
  color: color($colors, primary);
}
h2 {
  font-size: 1.4em;
}
h3 {
  font-size: 1.2em;
}
h4 {
  font-size: 1.1em;
}
h5 {
  font-size: 0.8em;
}
h6 {
  font-size: 0.6em;
}
// Cards
.naname-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
  padding: 25px 25px;
  background: #fff;
  // h,v,r,s

  -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
  border-radius: $border-radius;
}
.nename-shadow {
  -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
}
.naname-card-centered-content {
  text-align: center;
}

.image-button {
  width: 30px;
  height: 30px;
  border-radius: 30px;
}

// Helpers
$sides: (left, top, right, bottom);
@each $side in $sides {
  .margin-#{$side} {
    margin-#{$side}: $margin;
  }
  .margin-#{$side}-extra {
    margin-#{$side}: $margin * 2;
  }
}
@each $side in $sides {
  .padding-#{$side} {
    padding-#{$side}: $margin;
  }
  .padding-#{$side}-extra {
    padding-#{$side}: $margin * 2;
  }
}

.text-center {
  text-align: center;
}

button[large] {
  font-size: 1.2em;
}

.font-color-muted {
  color: color($colors, nename-muted)!important;
}
.font-color-primary {
  color: color($colors, primary) !important;
}

.my-title {
  margin: $margin 0;
  font-size: 1.8em;
  font-weight: bold;
  text-align: center;
  color: color($colors, primary);
}

.button-choose {
  height: 70px;
  width: 35px;
  border-radius: 100%;
  font-size: 2.3em;
}

.naname-image-header {
  width: 90px;
}
.naname-loader {
  width: 80px;
}

h1.color-primary {
  color: color($colors, primary) !important;
}
.baby-message {
  width: 70px;
  margin-bottom: -15px;
}

.btn-chose-gender {
}
.btn-boy-chick {
  background-image: url(/assets/imgs/boy.png), url(/assets/imgs/chick.png);
  background-position: left -1px, right -8px;
  background-repeat: no-repeat, no-repeat;
  background-size: 90px, 90px;
}
.btn-boy {
  background-image: url(/assets/imgs/boy.png);
  background-position: left -1px;
  background-repeat: no-repeat;
  background-size: 90px;
}
.btn-chick {
  background-image: url(/assets/imgs/chick.png);
  background-position: 8px -8px;
  background-repeat: no-repeat;
  background-size: 90px;
}
.naname-avatar-big {
  width: 110px;
  height: 110px;
  border-radius: 140px;
  border: 6px solid color($colors, primary);
}

.naname-or {
  background-color: color($colors, naname-danger, base);
  color: #fff;
  width: 55px;
  height: 55px;
  border-radius: 55px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.nename-content-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.nename-img-loader-ionic {
  animation: teeter 4s infinite ease;
  width: 60px;
}

.main-logo {
  width: 170px;
}

.ion-md-choose {
  content: url("../assets/imgs/choose-tab.png") !important;
}
.ion-md-choices {
  content: url("../assets/imgs/choices-tab.png") !important;
}
.ion-md-nename-settings {
  content: url("../assets/imgs/settings-tab.png") !important;
}

.tab-button-icon.ion-md-choose,
.tab-button-icon.ion-md-choices,
.tab-button-icon.ion-md-nename-settings {
  width: 50px !important;
}


.slide-zoom {
  height: 100%;
  width: 100%;
}
[ion-slides] {
  width: 100%;
}
[ion-slides] {
  width: 100%;
}