<!--
  Generated template for the PartnerListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Configurar parceiro</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="content" *ngIf="authProvider.user.partner_id">
    <div class="content-child text-center" padding>
      <h1>Vocês estão conectados</h1>
      <h2>Agora os nomes que ambos escolherem estão unificados</h2>

      <div>
        <img [src]="authProvider.user?.profilePhotoURL" class="avatar" />
        <img [src]="authProvider.partner?.profilePhotoURL" class="avatar margin-left" />
      </div>
    </div>
  </div>

  <div *ngIf="!authProvider.user.partner_id" padding>
    <div class="naname-card naname-card-centered-content">
      <ion-grid>
        <ion-row>
          <ion-col>
            <h2>Vou adicionar o meu parceiro</h2>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <button ion-button block round icon-start (click)="showPrompt()">
              <ion-icon name="at"></ion-icon> Adicionar pelo email
            </button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <button ion-button block round icon-start (click)="scanQrCode()">
              <ion-icon name="qr-scanner"></ion-icon> Adicionar pelo QRCODE
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div style="text-align: center;">
      <h2>OU</h2>
    </div>
    <div class="naname-card naname-card-centered-content">
      <ion-grid>
        <ion-row>
          <ion-col>
            <h2>O meu parceiro vai me adicionar</h2>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <h3>{{authProvider.user?.email}}</h3>
            <div style="margin-left: 70px">
              <qrcode [qrdata]="authProvider.user.email" [size]="150" [level]="'M'"></qrcode>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>



  <!-- <ion-list *ngIf="blockedUsers.length > 0">
    <ion-list-header>
      Usuários Bloqueados
    </ion-list-header>
    <ion-item *ngFor="let blockedUser of blockedUsers">
      <ion-avatar item-start>
        <img [src]="blockedUser.profilePhotoURL" />
      </ion-avatar>
      <h2>{{ blockedUser.name }}</h2>
      <p>{{ blockedUser.email }}</p>
      <button ion-button item-end *ngIf="blockedUser as blockedUser"
        (click)="presentUnblockUserAlert(blockedUser)">Desbloquear</button>
    </ion-item>
  </ion-list>

  <div *ngIf="!authProvider.user.partner_id && 1 ==23">
    <h2>Eu vou adicionar o parceiro</h2>
    <div>
      <button ion-button (click)="scanQrCode()">Ler QRCODE do parceiro</button>
    </div>
    <div>
      <button ion-button (click)="showPrompt()">Adicionar manualmente</button>
    </div>
    <h2>O meu parceiro vai me adicionar</h2>
    <div>
      <p>Ele vai ler o meu QR CODE</p>
      <qrcode [qrdata]="authProvider.user.email" [size]="200" [level]="'M'"></qrcode>
    </div>
  </div> -->
</ion-content>