<!--
  Generated template for the PartnerListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="nename">
    <ion-title>Configurações do parceiro</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="nename-content" padding>
  <div class="content-bimbo" *ngIf="authProvider.user.partner_id">
    <div class="content-child text-center">
      <h1>Vocês estão conectados</h1>
      <h3>Agora os nomes que vocês escolherem serão unificados.</h3>

      <div class="margin-top-extra">
        <img [src]="authProvider.user?.profilePhotoURL" class="naname-avatar-big">
        <img [src]="authProvider.user.partner?.profilePhotoURL" class="naname-avatar-big">
      </div>
    </div>
  </div>

  <div *ngIf="!authProvider.user.partner_id" padding>
    <div class="naname-card naname-card-centered-content">
      <h2 class="margin-bottom-extra">Vou adicionar o meu parceiro</h2>
      <button ion-button block round icon-start (click)="showPrompt()">
        <ion-icon name="at"></ion-icon> Adicionar pelo email
      </button>
      <button ion-button block round icon-start (click)="scanQrCode()">
        <ion-icon name="qr-scanner"></ion-icon> Adicionar pelo QRCODE
      </button>
    </div>

    <div class="nename-content-center margin-top margin-bottom" style="margin-top: -28px;margin-bottom: -28px;">
      <div class="naname-or">OU</div>
    </div>

    <div class="naname-card naname-card-centered-content">
      <h2 class="margin-bottom-extra">O meu parceiro vai me adicionar</h2>
      <h4>{{authProvider.user?.email}}</h4>
      <div>
        <qrcode [qrdata]="authProvider.user.email" [size]="100" [level]="'M'"></qrcode>
      </div>
    </div>
  </div>
</ion-content>