<ion-header no-border>
  <ion-navbar color="secondary">
    <ion-title>Naname</ion-title>
    <ion-buttons end>
      <!-- <button ion-button icon-only (click)="openAddName()">
            <ion-icon name="search"></ion-icon>
          </button> -->
      <button ion-button icon-only (click)="openAddName()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-segment [(ngModel)]="gender" *ngIf="hasMultiGender">
    <ion-segment-button value="m">
      Masculino
    </ion-segment-button>
    <ion-segment-button value="f">
      Feminimo
    </ion-segment-button>
  </ion-segment>

  <div class="content" *ngIf="names.length < 1 && !loadingChoices">
    <div class="main-message">
      <p>
        Você ainda não escolheu nenhum nome, tenta lá.
      </p>
    </div>
  </div>

  <!-- <h2 >Carregando escolhas...</h2> -->

  <div *ngIf="loadingChoices" padding>
    <div *ngFor="let item of [1,2,3]">
      <div class="ghost-container">
        <div class="ghost-line ghost-line-md"></div>
        <div class="ghost-line ghost-line-md ghost-line-block"></div>
      </div>
    </div>
  </div>

  <div *ngIf="!loadingChoices && names.length > 0" (swipe)="swipeEvent($event)" style="height: 100%;">
    <!-- <ion-searchbar [(ngModel)]="term"></ion-searchbar> -->
    <ion-list no-lines>
      <ng-container *ngFor="
      let name of (names | orderBy: 'total_votes':true | search: 'name':term:gender)">
        <div (click)="onNameClick(name)" (press)="presentNameActionSheetOption(name)">
          <ion-item>
            {{ name.name }}
            <p>{{name.total_votes}} votos</p>
            <ion-avatar *ngFor="let owner of name.ownersProfiles" item-end>
              <img [src]="owner.profilePhotoURL" *ngIf="authProvider.user.partner_id">
            </ion-avatar>
          </ion-item>
          <div class="progress-wrap">
            <div class="progress-container">
              <div class="progress-bar" [style.width]="(name.porcentage > 0) ? name.porcentage + '%' : '18px'"></div>
            </div>
          </div>
        </div>
      </ng-container>
    </ion-list>
  </div>

</ion-content>

<ion-footer [hidden]="names.length < 2">
  <ion-toolbar>
    <button ion-button block icon-start round (click)="share()">
      <ion-icon name="share-alt"></ion-icon> Compartilhar enquete
    </button>
  </ion-toolbar>
</ion-footer>