<ion-header>
  <ion-navbar color="nename">
    <ion-title>
      Usuários bloqueados
    </ion-title>
    <!-- <ion-buttons left>
      <button ion-button icon-start (click)="close()">
        <ion-icon name="arrow-round-back"></ion-icon>
      </button>
    </ion-buttons> -->
    <ion-buttons right>
      <button ion-button icon-start (click)="close()" color="dark">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="nename-content">

  <div class="content-bimbo nename-content-center text-center" *ngIf="!loading && blockedUsers < 1">
    <img src="/assets/imgs/baby-fineza.png" class="naname-image-header">
    <h1 class="margin-top">Você não bloqueou ninguém =]</h1>
  </div>

  <div *ngIf="loading" padding>
    <div class="">
      <div class="casper row inline">
        <div class="casper avatar"></div>
        <div class="casper block5 width-small"></div>
        <div style="flex: 1; display: flex; justify-content: flex-end">
          <div class="casper block6 width-mini"></div>
        </div>
      </div>
    </div>
  </div>

  <ion-list *ngFor="let user of blockedUsers" class="padding-top">
    <button ion-item (click)="presentUnblockUserAlert(user)">
      <ion-avatar item-start>
        <img [src]="user.profilePhotoURL">
      </ion-avatar>
      <h2>{{user.name}}</h2>
      <p>{{user.email}}</p>
    </button>
  </ion-list>
</ion-content>