<ion-header>
  <ion-navbar color="nename">
    <ion-title>
      Usuários bloqueados
    </ion-title>
    <ion-buttons left>
      <button ion-button icon-start (click)="close()">
        <ion-icon name="arrow-round-back"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

  <div class="content-bimbo nename-content-center text-center" *ngIf="!loading && blockedUsers < 1">
    <img src="/assets/imgs/baby-holaquetal.png" class="naname-image-header">
    <h1>Você não bloqueou ninguém =]</h1>
  </div>

  <div *ngIf="loading">
    <div class="ghost-container">
      <div class="ghost-avatar ghost-margin-right"></div>
      <div class="ghost-line-md"></div>
    </div>
  </div>

  <ion-list *ngFor="let user of blockedUsers">
    <button ion-item (click)="presentUnblockUserAlert(user)">
      <ion-avatar item-start>
        <img [src]="user.profilePhotoURL">
      </ion-avatar>
      <h2>{{user.name}}</h2>
      <p>{{user.email}}</p>
    </button>
  </ion-list>
</ion-content>