page-gender-selection {
  .content {
    display: flex;
    flex-direction: column;
    height: 100%;
    // background-color: pink;
  }
  .details {
    text-align: center;
    padding: 15px 0;
    // background-color: green;
  }
  .buttons {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    // background-color: yellow;
  }
  .buttons button {
    margin: 5px 0px;
  }
  .footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    // background-color: red;
  }

  .naname-header {
    padding-top: 20px;
    padding-bottom: 10px;
  }
  .naname-body {
    flex: 1;
    display: flex;
    align-items: center;
  }
}
